<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    <title>{{ pageTitle or siteData.name }}</title>
    <script type="text/javascript" src="/public/hacking.js"></script>
  </head>
  
  <body>
    <div class="grid-wrapper">
      <header>
        <div class="site-name">evan-rowe.com
          <span class="toggler">☀️<input type="checkbox" class="change-theme"/><div class="slider"></div>🌒</span>
        </div>
        <nav>
          <ul>
            <li><a {% if page.url == '/' %} aria-current="page"{% endif %}href="/">home</a></li>
            <li><a {% if page.url.includes('posts') %} aria-current="page"{% endif %}href="/posts">posts</a></li>
            <!--li><a {% if page.url.includes('/about') %} aria-current="page"{% endif %}href="/about">about</a></li-->
            <li><a {% if page.url.includes('/contact') %} aria-current="page"{% endif %}href="/contact">contact</a></li>
          </ul>
        </nav>
      </header>
      {{ content | safe }}
      <footer><p><sub><span class="prompt">➤</span>Using Eleventy v{{ pkg.dependencies["@11ty/eleventy"] }}. | created with <a href="https://glitch.com" target="_blank">glitch</a> | copyright &copy;2022 | current page url: <code>{{page.url}}</code></sub></p></footer>
    </div>
    <div class="to-top">↟</div>
  </body>
</html>