<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="fediverse:creator" content="@evrowe@pdx.social" />{% if page.url.includes('posts/') %}
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="{{ previewImage }}" />{% endif %}
    <link rel="stylesheet" type="text/css" href="/public/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    <title>{{ pageTitle or siteData.name }}</title>
    <script type="text/javascript" src="/public/hacking.js"></script>
    <link rel="me" href="https://pdx.social/@evrowe" />
  </head>
  
  <body>
    <div class="grid-wrapper">
      <header role="banner">
        <div class="site-name">evrowe.com
          <!--span class="toggler">☀️<input type="checkbox" class="change-theme" aria-label="change theme"/><div class="slider"></div>🌒</span-->
        </div>
        <nav role="navigation">
          <ul>
            <li><a {% if page.url == '/' %}aria-current="page"{% endif %}href="/">home</a></li>
            <li><a {% if page.url.includes('posts') %}aria-current="page"{% endif %} href="/posts">posts</a></li>
            <!--li><a {% if page.url.includes('/about') %} aria-current="page"{% endif %}href="/about">about</a></li-->
            <li><a {% if page.url.includes('/contact') %} aria-current="page"{% endif %}href="/contact">contact</a></li>
          </ul>
        </nav>
      </header>
      {{ content | safe }}
      <footer role="contentinfo"><p><sub><span class="prompt" aria-hidden="true">➤</span>Using Eleventy v{{ pkg.dependencies["@11ty/eleventy"] }}. | created with <a href="https://glitch.com" target="_blank">glitch</a> | copyright &copy;2024 | current page url: <code>{{page.url}}</code></sub></p></footer>
    </div>
    <div class="to-top">↟</div>
  </body>
</html>