<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    <title>{{ pageTitle or siteData.name }}</title>
  </head>
  <header>
    <nav>
      <ul>
        <li><a {% if page.url == '/' %} aria-current="page"{% endif %}href="/">Home</a></li>
        <li><a {% if page.url.includes('posts') %} aria-current="page"{% endif %}href="/posts">Posts</a></li>
        <!--li><a {% if page.url.includes('/about') %} aria-current="page"{% endif %}href="/about">About</a></li-->
        <li><a {% if page.url.includes('/contact') %} aria-current="page"{% endif %}href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  <body>
    {{ content | safe }}
  </body>
  <footer><p><sub>Using Eleventy v{{ pkg.dependencies["@11ty/eleventy"] }}. | current page url: {{page.url}}</sub></p></footer>
</html>