---
layout: layouts/base.njk
templateClass: tmpl-posts
---

{# This is the template for the Posts page–it lists the posts in the collection #}

<section class="wrapper page" role="main">
  <div class="content">
    {{ content | safe }}
    <section class="posts-list">
      {%- for post in collections.posts -%}
        <article{% if page.url == post.url %} aria-current="page"{% endif %}>
          <img src="{{post.data.previewImage}}" />
          <fragment>
            <h3><a href="{{post.url}}">{{post.data.title}}</a></h3>
            {{post.data.page.date | htmlDateString}}
          </fragment>
          </article>
      {%- endfor -%}
    </section>
  </div>
</section>