---
layout: layouts/base.njk
templateClass: tmpl-posts
---

{# This is the template for the Posts page–it lists the posts in the collection #}

<div class="wrapper page" role="main">
  <div class="content">
    {{ content | safe }}
    <ul>
      {%- for post in collections.posts -%}
        <li{% if page.url == post.url %} aria-current="page"{% endif %}><a href='{{post.url}}'>{{post.data.title}}</a> - {{post.data.page.date | htmlDateString}}</li>
      {%- endfor -%}
    </ul>
  </div>
</div>