---
layout: layouts/base.njk
templateClass: tmpl-posts
---

{# This is the template for the Posts page–it lists the posts in the collection #}

<section class="wrapper page" role="main">
  <div class="content">
    {{ content | safe }}
    <section class="posts-list">
      <ul>
        
      </ul>
      {%- for post in collections.posts -%}
        <li{% if page.url == post.url %} aria-current="page"{% endif %}>
          <a href="{{post.url}}">
            <figure>
              <img src="{{post.data.previewImage}}" />
              <figcaption>
                <h3>{{post.data.title}}</h3>
                <date>Posted on {{post.data.page.date | htmlDateString}}</date><br>
                <p>{{post.data.description}}</p>
              </figcaption>
            </figure>
          </a>
        </li>
      {%- endfor -%}
    </section>
  </div>
</section>